/* ================ about page css ============= */
/* line 4, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
.about_section {
  padding: 100px 0 40px;
  background-size: 220px;
  background-position: 95% 5% !important;
}

@media (max-width: 992px) {
  /* line 4, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
  .about_section {
    background-size: 90px;
    background-position: 95% 98% !important;
  }
}

/* line 12, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
.about_section .about_img {
  text-align: center;
}

@media (max-width: 992px) {
  /* line 14, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
  .about_section .about_img img {
    max-width: 90px;
  }
}

/* line 21, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
.about_section .about_content h2 {
  color: #000;
}

@media (max-width: 992px) {
  /* line 21, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
  .about_section .about_content h2 {
    font-size: 1.5rem;
  }
}

/* line 27, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
.about_section .about_content .quote {
  font-size: 1.75rem;
  font-family: "Roboto-Light", sans-sarif;
  position: relative;
  padding: 45px 0 50px 0;
  max-width: 475px;
}

/* line 33, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
.about_section .about_content .quote .quote_icon {
  position: absolute;
}

/* line 35, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
.about_section .about_content .quote .quote_icon.left {
  top: 0px;
  left: 0;
}

/* line 39, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
.about_section .about_content .quote .quote_icon.right {
  bottom: 20px;
  right: auto;
}

@media (max-width: 575px) {
  /* line 33, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
  .about_section .about_content .quote .quote_icon {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  /* line 47, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
  .about_section .about_content .quote .quote_icon img {
    max-width: 35px;
  }
  /* line 50, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
  .about_section .about_content .quote .quote_icon.left {
    margin-bottom: 15px;
  }
  /* line 53, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
  .about_section .about_content .quote .quote_icon.right {
    bottom: 0;
    margin-top: 15px;
  }
}

@media (max-width: 575px) {
  /* line 27, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
  .about_section .about_content .quote {
    font-size: 1rem;
    text-align: center;
    padding: 0;
    margin-bottom: 30px;
  }
}

/* line 66, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
.about_section .about_content .btn {
  min-width: 200px;
}

@media (max-width: 575px) {
  /* line 69, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
  .about_section .about_content .full_onmobile {
    margin-left: -50%;
    text-align: center;
  }
}

/* line 76, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
.about_section.about_section_inner {
  padding-top: 50px;
}

@media (max-width: 992px) {
  /* line 76, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
  .about_section.about_section_inner {
    padding-top: 0;
  }
}

/* line 81, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
.about_section.about_section_inner h2 {
  color: #024594;
}

@media (max-width: 575px) {
  /* line 81, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
  .about_section.about_section_inner h2 {
    margin-top: 30px;
  }
}

/* line 87, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
.about_section.about_section_inner .head_para {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.8);
  font-family: "Roboto-Light", sans-sarif;
  margin-bottom: 30px;
}

@media (max-width: 575px) {
  /* line 87, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
  .about_section.about_section_inner .head_para {
    font-size: 1.125rem;
  }
}

/* line 97, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
.about_section.about_section_inner h3 {
  font-size: 1.25rem;
  color: #323232;
}

/* line 101, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
.about_section.about_section_inner .container {
  background-image: url(../images/icons/plus_icon_big.png);
  background-repeat: no-repeat;
  background-size: 132px;
  background-position: right top;
}

@media (max-width: 992px) {
  /* line 101, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
  .about_section.about_section_inner .container {
    background-size: 64px;
    background-position: center top;
    padding-top: 40px;
  }
}

/* line 112, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
.about_section.about_section_inner .blue_band {
  margin-top: 40px;
  margin-bottom: 20px;
  background: #024594;
  border-radius: 10px;
  color: #fff;
  font-family: "Roboto-Light", sans-sarif;
  padding: 18px;
  font-size: 1.125rem;
}

/* line 121, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
.about_section.about_section_inner .blue_band p {
  margin: 0;
}

/* line 125, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
.about_section.about_section_inner .bluebox {
  background: #044597;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.125rem;
  line-height: 1.8;
  font-family: "Roboto-Light", sans-sarif;
  padding: 30px 40px;
}

@media (max-width: 992px) {
  /* line 125, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
  .about_section.about_section_inner .bluebox {
    margin-bottom: 30px;
  }
}

/* line 135, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
.about_section.about_section_inner .bluebox .para_text {
  font-size: 1.25rem;
  display: flex;
  height: 100%;
  align-items: center;
  margin: 0;
}

/* line 143, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
.about_section.about_section_inner .para_text {
  margin-bottom: 30px;
}

/* line 145, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
.about_section.about_section_inner .para_text span {
  color: #F68C42;
  font-family: "Roboto-Bold", sans-sarif;
}

/* line 150, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
.about_section.about_section_inner .grey_box {
  background: rgba(228, 228, 228, 0.4);
  margin: 45px 0;
  padding: 30px 5% 30px 12%;
  border-radius: 10px;
}

@media (max-width: 992px) {
  /* line 150, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
  .about_section.about_section_inner .grey_box {
    padding: 25px 40px;
  }
}

/* line 158, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
.about_section.about_section_inner .grey_box p {
  margin: 0;
  padding-left: 70px;
}

@media (max-width: 992px) {
  /* line 158, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
  .about_section.about_section_inner .grey_box p {
    font-size: .875rem;
    padding-left: 0;
  }
}

/* line 167, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
.about_section.about_section_inner .grey_box .quote_section .quote {
  position: relative;
  font-size: 1.813rem;
  padding-left: 70px;
  padding-right: 70px;
  margin-bottom: 12px;
  font-family: "Roboto-Light", sans-sarif;
}

@media (max-width: 992px) {
  /* line 167, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
  .about_section.about_section_inner .grey_box .quote_section .quote {
    font-size: 1.25rem;
  }
}

/* line 177, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
.about_section.about_section_inner .grey_box .quote_section .quote .quote_icon {
  position: absolute;
  display: inline-block;
}

/* line 180, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
.about_section.about_section_inner .grey_box .quote_section .quote .quote_icon.left {
  top: 0px;
  left: 0;
}

@media (max-width: 992px) {
  /* line 180, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
  .about_section.about_section_inner .grey_box .quote_section .quote .quote_icon.left {
    left: -35px;
    width: 35px;
    height: 35px;
  }
}

/* line 189, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
.about_section.about_section_inner .grey_box .quote_section .quote .quote_icon.right {
  top: auto;
  right: auto;
  margin-left: 10px;
}

@media (max-width: 992px) {
  /* line 189, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
  .about_section.about_section_inner .grey_box .quote_section .quote .quote_icon.right {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 992px) {
  /* line 167, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
  .about_section.about_section_inner .grey_box .quote_section .quote {
    padding: 0;
  }
  /* line 201, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
  .about_section.about_section_inner .grey_box .quote_section .quote img {
    width: 30px;
  }
}

/* line 207, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
.about_section.about_section_inner .grey_box .last_para {
  max-width: 692px;
}

/* line 214, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
.mgmt_row {
  margin: 0 -45px;
}

/* line 216, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
.mgmt_row [class*="col-"] {
  padding: 0 45px;
}

@media (max-width: 992px) {
  /* line 214, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
  .mgmt_row {
    margin: 0 -15px;
  }
  /* line 221, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
  .mgmt_row [class*="col-"] {
    padding: 0 15px;
  }
}

/* line 226, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
.mgmt_card {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 22px;
  margin-top: 22px;
}

/* line 232, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
.mgmt_card figure {
  margin: 0;
}

/* line 234, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
.mgmt_card figure img {
  width: 100%;
  border-radius: 0 0 0 20px;
  transition: all .4s;
}

/* line 239, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
.mgmt_card figure figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #024594;
  color: #fff;
  width: 100%;
  min-height: 135px;
  border-radius: 0 20px 0 20px;
  padding: 20px 30px;
}

/* line 249, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
.mgmt_card figure figcaption span {
  display: block;
}

/* line 251, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
.mgmt_card figure figcaption span.name {
  font-size: 1.25rem;
  font-family: "Roboto-Medium", sans-sarif;
}

/* line 255, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
.mgmt_card figure figcaption span.desig {
  font-size: 0.875rem;
  font-family: "Roboto-Light", sans-sarif;
}

/* line 262, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
.mgmt_card .arrow {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 42px;
  height: 42px;
  background: #F68C42;
  display: inline-block;
  transition: all .6s;
}

/* line 271, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
.mgmt_card .arrow:after {
  content: "";
  width: 16px;
  height: 16px;
  border-right: solid 2px #fff;
  border-bottom: solid 2px #fff;
  transform: rotate(-45deg);
  position: absolute;
  top: 13px;
  left: 9px;
}

/* line 285, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
.mgmt_card:hover figure img {
  transform: scale(1.1);
  border-radius: 0 0 0 100px;
}

/* line 294, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
.modal_mgmt .modal-lg {
  max-width: 650px;
}

/* line 297, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
.modal_mgmt .modal-content {
  border: none;
  background-color: transparent;
}

/* line 300, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
.modal_mgmt .modal-content .modal-body {
  background: #044597;
  color: #fff;
  padding: 40px 40px 40px 170px;
  border-radius: 0 50px 0 50px;
  position: relative;
}

/* line 306, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
.modal_mgmt .modal-content .modal-body .close {
  position: absolute;
  right: -20px;
  top: -10px;
  border: none;
  box-shadow: none;
  font-size: 30px;
  font-family: "Roboto-Light", sans-sarif;
  color: #fff;
  opacity: 1;
  transform: scaleY(0.7);
  text-shadow: none;
}

/* line 319, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
.modal_mgmt .modal-content .modal-body .bod_img {
  position: absolute;
  left: -100px;
  top: 40px;
  max-width: 232px;
}

/* line 324, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
.modal_mgmt .modal-content .modal-body .bod_img img {
  border-radius: 12px;
  width: 100%;
}

/* line 330, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
.modal_mgmt .modal-content .modal-body .content_heading h2 {
  color: #fff;
}

/* line 333, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
.modal_mgmt .modal-content .modal-body .content_heading p {
  font-size: .875rem;
  font-family: "Roboto-Light", sans-sarif;
}

/* line 338, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
.modal_mgmt .modal-content .modal-body .content_desc {
  font-size: .75rem;
  font-family: "Roboto-Light", sans-sarif;
  line-height: 2;
}

@media (max-width: 992px) {
  /* line 300, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
  .modal_mgmt .modal-content .modal-body {
    padding: 20px;
    padding-top: 85px;
  }
  /* line 346, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
  .modal_mgmt .modal-content .modal-body .close {
    right: 20px;
    top: 20px;
  }
  /* line 350, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
  .modal_mgmt .modal-content .modal-body .bod_img {
    max-width: 127px;
    left: 0px;
    top: 0px;
    margin-top: -170px;
    position: relative;
  }
  /* line 357, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
  .modal_mgmt .modal-content .modal-body .content_heading {
    padding-top: 20px;
  }
  /* line 359, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
  .modal_mgmt .modal-content .modal-body .content_heading h2 {
    font-size: 1.125rem;
    margin: 0;
  }
  /* line 363, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
  .modal_mgmt .modal-content .modal-body .content_heading p {
    font-size: .625rem;
  }
  /* line 367, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
  .modal_mgmt .modal-content .modal-body .content_desc {
    line-height: 1.6;
  }
}

/* line 375, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
.modal-backdrop.show {
  opacity: .70;
}

/* line 378, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
.modal-open .modal.modal-center {
  display: flex !important;
  align-items: center !important;
}

/* line 381, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
.modal-open .modal.modal-center .modal-dialog {
  flex-grow: 1;
}

@media (max-width: 992px) {
  /* line 378, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/about.scss */
  .modal-open .modal.modal-center {
    padding-top: 85px;
  }
}

/*# sourceMappingURL=../about.map */