@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url("../fonts/Roboto-Light.eot");
  src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.svg#Roboto-Light") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url("../fonts/Roboto-Medium.eot");
  src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.svg#Roboto-Medium") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url("../fonts/Roboto-Bold.eot");
  src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.svg#Roboto-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'indian_rupeeregular';
  src: url("../fonts/indianrupeefont.woff2") format("woff2"), url("../fonts/indianrupeefont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* line 3, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
html {
  font-size: 16px;
}

/* line 6, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #262e30;
  padding-top: 170px;
}

@media (max-width: 992px) {
  /* line 6, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  body {
    padding-top: 50px;
    padding-bottom: 57px;
  }
}

/* line 15, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
body.search_open {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

/* line 19, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
body.search_open:after {
  position: fixed;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
}

/* line 30, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
body.body_fixed {
  overflow: hidden;
  position: fixed;
}

/* line 35, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
h1, h2, h3 {
  color: #024594;
}

/* line 38, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
strong, b {
  font-family: "Roboto-Bold", sans-sarif;
}

/* line 41, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
a {
  outline: none;
  color: #0B103F;
}

/* line 45, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
ul {
  list-style: none;
}

/* line 48, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 52, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.btn-primary {
  text-transform: uppercase;
  color: #024594;
  background-color: transparent;
  border: solid 1px #024594;
  padding: 11px 24px;
  border-radius: 26px;
  letter-spacing: 1px;
  min-width: 180px;
}

/* line 61, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.btn-primary:hover {
  color: #fff;
  background-color: #024594;
  border-color: #024594;
}

@media (max-width: 992px) {
  /* line 52, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  .btn-primary {
    font-size: 0.875rem;
    padding: 10px 15px;
    min-width: 160px;
  }
}

/* line 72, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.btn-link {
  color: #044597;
  text-transform: uppercase;
  display: inline-block;
  padding-right: 30px;
  position: relative;
  text-decoration: none;
}

/* line 79, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.btn-link:after {
  position: absolute;
  right: 10px;
  top: 7px;
  width: 10px;
  height: 10px;
  border-top: solid 1px #000;
  border-right: solid 1px #000;
  transform: rotate(45deg);
  transition: all .4s;
  content: "";
}

/* line 91, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.btn-link:hover {
  text-decoration: none;
}

/* line 93, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.btn-link:hover:after {
  right: 0px;
}

/* line 98, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.break {
  flex-basis: 100%;
  height: 0;
}

/* line 104, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.sticky-header.fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: #fff;
}

/* line 114, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

@media (max-width: 992px) {
  /* line 114, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  header {
    box-shadow: none;
  }
}

/* line 125, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .top_bar {
  width: 100%;
  background-color: #F8F9FD;
}

/* line 128, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .top_bar li {
  margin: 0 40px 0 0;
}

/* line 130, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .top_bar li:last-child {
  margin: 0;
}

/* line 133, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .top_bar li a {
  color: #0B103F;
  font-size: 0.813rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: all .3s;
}

/* line 140, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .top_bar li a svg {
  margin-right: 5px;
}

/* line 142, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .top_bar li a svg path, header .top_bar li a svg circle, header .top_bar li a svg line {
  transition: all .3s;
}

/* line 146, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .top_bar li a:hover {
  color: #024594;
}

/* line 149, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .top_bar li a:hover svg path, header .top_bar li a:hover svg circle, header .top_bar li a:hover svg line {
  stroke: #F68C42;
}

/* line 157, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .top_bar li a.login_link:hover svg path {
  fill: #F68C42;
  stroke: none;
}

@media (max-width: 992px) {
  /* line 125, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  header .top_bar {
    display: none;
  }
}

@media (max-width: 992px) {
  /* line 171, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  header .navbar {
    position: fixed;
    width: 100%;
    min-height: 50px;
    top: 0;
    z-index: 10;
    background: #F9FBFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }
  /* line 180, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  header .navbar .navbar-brand {
    margin-left: calc(50% - 80px);
  }
  /* line 182, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  header .navbar .navbar-brand img {
    max-width: 160px;
  }
  /* line 186, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  header .navbar .navbar-toggler {
    position: fixed;
    left: 0;
    top: 0px;
    width: 50px;
    height: 50px;
  }
  /* line 193, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  header .navbar .btn_search {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
  }
}

/* line 201, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .navbar .navbar-toggler {
  border: none;
  outline: none;
  border-radius: 0px;
  border-right: solid 1px rgba(170, 169, 173, 0.2);
}

/* line 206, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .navbar .navbar-toggler .navbar-toggler-icon {
  background-image: none;
  position: relative;
  margin-top: 7px;
}

/* line 210, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .navbar .navbar-toggler .navbar-toggler-icon i {
  position: absolute;
  width: 20px;
  height: 3px;
  background: #024594;
  left: 0;
}

/* line 216, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .navbar .navbar-toggler .navbar-toggler-icon i:nth-child(1) {
  top: 0;
}

/* line 219, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .navbar .navbar-toggler .navbar-toggler-icon i:nth-child(2) {
  top: 8px;
}

/* line 222, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .navbar .navbar-toggler .navbar-toggler-icon i:nth-child(3) {
  top: 16px;
}

/* line 230, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .navbar .contact_nav {
  align-items: center;
}

/* line 233, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .navbar .contact_nav li:last-child {
  padding: 0 0 0 24px;
  position: relative;
}

/* line 236, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .navbar .contact_nav li:last-child:after {
  position: absolute;
  left: 0;
  top: 13px;
  width: 1px;
  height: 25px;
  content: "";
  background: rgba(4, 69, 151, 0.2);
}

/* line 246, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .navbar .contact_nav li a {
  font-size: 0.625rem;
  color: #0B103F;
  display: flex;
  align-items: center;
  line-height: 1.2;
}

/* line 252, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .navbar .contact_nav li a img {
  margin-right: 10px;
}

/* line 257, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .navbar .contact_nav .callus-item {
  position: relative;
  width: 120px;
  min-height: 80px;
  padding-right: 20px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: all .2s;
  overflow: hidden;
}

/* line 268, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .navbar .contact_nav .callus-item a.nav-link {
  display: block;
}

/* line 271, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .navbar .contact_nav .callus-item ul {
  position: absolute;
  right: 110px;
  top: 0;
  display: none;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding-right: 50px;
}

/* line 282, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .navbar .contact_nav .callus-item ul:after {
  position: absolute;
  right: 20px;
  top: 28px;
  width: 1px;
  height: 25px;
  content: "";
  background: #CCDAEA;
}

/* line 291, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .navbar .contact_nav .callus-item ul li {
  font-size: .75rem;
  color: #024594;
}

/* line 294, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .navbar .contact_nav .callus-item ul li a {
  display: inline-block;
  font-size: .75rem;
  font-family: "Roboto-Medium", sans-sarif;
  color: #024594;
}

/* line 301, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .navbar .contact_nav .callus-item ul li:last-child:after {
  display: none;
}

/* line 307, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .navbar .contact_nav .callus-item:hover {
  background: #F2F2F2;
  width: 505px;
}

/* line 310, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .navbar .contact_nav .callus-item:hover ul {
  display: flex;
}

@media (max-width: 992px) {
  /* line 230, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  header .navbar .contact_nav {
    display: none;
  }
}

/* line 321, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .navbar .main-nav {
  background-color: #F8F9FD;
  position: relative;
}

/* line 324, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .navbar .main-nav:after {
  position: absolute;
  height: 54px;
  width: 50%;
  right: 0;
  top: 0;
  content: "";
  background-color: #F68C42;
  z-index: 0;
}

/* line 334, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .navbar .main-nav .navbar-nav {
  width: calc(100% - 83px);
  position: relative;
  justify-content: space-between;
}

/* line 340, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .navbar .main-nav .navbar-nav .nav-item .nav-link {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 16px;
  padding-bottom: 16px;
  position: relative;
}

/* line 347, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .navbar .main-nav .navbar-nav .nav-item .nav-link.active {
  color: #F68C42 !important;
  font-family: "Roboto-Bold", sans-sarif;
}

/* line 350, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .navbar .main-nav .navbar-nav .nav-item .nav-link.active:before {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background: #F68C42;
  width: 100%;
  content: "";
}

/* line 360, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .navbar .main-nav .navbar-nav .nav-item .nav-link.dropdown-toggle {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #0B103F;
}

/* line 364, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .navbar .main-nav .navbar-nav .nav-item .nav-link.dropdown-toggle:after {
  border: none;
  width: 9px;
  height: 9px;
  border-bottom: solid 1px #0B103F;
  border-left: solid 1px #0B103F;
  transform: rotate(-45deg);
}

@media (max-width: 992px) {
  /* line 340, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  header .navbar .main-nav .navbar-nav .nav-item .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: .875rem;
    padding-left: 0;
    padding-right: 0;
  }
}

/* line 382, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .navbar .main-nav .navbar-nav .nav-item:first-child .nav-link {
  padding-left: 0;
}

/* line 386, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .navbar .main-nav .navbar-nav .nav-item.dropdown {
  position: unset;
}

/* line 388, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .navbar .main-nav .navbar-nav .nav-item.dropdown .dropdown-menu {
  top: 50px;
  width: 100%;
  min-height: 180px;
}

/* line 394, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .navbar .main-nav .navbar-nav .nav-item.dropdown .dropdown-menu li a {
  display: block;
  border-bottom: solid 1px #f5f5f5;
  margin-bottom: 7px;
  padding-bottom: 7px;
  text-decoration: none;
  font-family: "Roboto-Light", sans-sarif;
  font-size: .875rem;
}

@media (max-width: 992px) {
  /* line 388, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  header .navbar .main-nav .navbar-nav .nav-item.dropdown .dropdown-menu {
    border: none;
    border-radius: 0px;
    min-height: inherit;
  }
  /* line 408, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  header .navbar .main-nav .navbar-nav .nav-item.dropdown .dropdown-menu ul {
    padding-left: 0;
  }
  /* line 411, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  header .navbar .main-nav .navbar-nav .nav-item.dropdown .dropdown-menu ul li a {
    padding-left: 15px;
    border: none;
  }
}

@media (max-width: 992px) {
  /* line 420, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  header .navbar .main-nav .navbar-nav .nav-item.dropdown .nav-link {
    position: relative;
  }
  /* line 422, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  header .navbar .main-nav .navbar-nav .nav-item.dropdown .nav-link:after {
    position: absolute;
    right: 15px;
    top: 13px;
  }
}

/* line 430, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .navbar .main-nav .navbar-nav .nav-item.show_on_mobile {
  display: none;
}

@media (max-width: 992px) {
  /* line 338, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  header .navbar .main-nav .navbar-nav .nav-item {
    margin-right: 0;
    border-bottom: solid 1px rgba(4, 69, 151, 0.3);
  }
  /* line 436, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  header .navbar .main-nav .navbar-nav .nav-item.show_on_mobile {
    display: block;
  }
}

@media (max-width: 992px) {
  /* line 334, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  header .navbar .main-nav .navbar-nav {
    width: 100%;
  }
}

/* line 446, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .navbar .main-nav .container {
  position: relative;
  z-index: 1;
  background-color: #F8F9FD;
}

/* line 450, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .navbar .main-nav .container:after {
  position: absolute;
  right: 0;
  width: 15px;
  content: "";
  height: 54px;
  background: #F68C42;
}

@media (max-width: 992px) {
  /* line 450, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  header .navbar .main-nav .container:after {
    display: none;
  }
}

/* line 462, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .navbar .main-nav .show_on_mobile {
  display: none;
}

/* line 465, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .navbar .main-nav .social_links_contact {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
}

/* line 471, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .navbar .main-nav .social_links_contact .emergency_contact_mob {
  padding: 10px 0 7px;
  text-align: center;
  font-size: .875rem;
}

/* line 475, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .navbar .main-nav .social_links_contact .emergency_contact_mob p {
  margin: 0;
}

/* line 478, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .navbar .main-nav .social_links_contact .emergency_contact_mob .contact_no {
  font-size: 1rem;
  font-family: "Roboto-Bold", sans-sarif;
  color: #044597;
}

/* line 482, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .navbar .main-nav .social_links_contact .emergency_contact_mob .contact_no a {
  color: #044597;
  text-decoration: none;
}

/* line 489, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .navbar .main-nav .social_links_contact .social_icons {
  text-align: center;
}

/* line 491, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .navbar .main-nav .social_links_contact .social_icons a {
  margin: 0 7px;
  display: inline-block;
}

/* line 494, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .navbar .main-nav .social_links_contact .social_icons a svg {
  height: 16px;
  width: auto;
}

@media (max-width: 992px) {
  /* line 321, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  header .navbar .main-nav {
    position: fixed;
    height: 100%;
    overflow-y: auto;
    top: 50px;
    padding-bottom: 160px;
    width: 100%;
    background-image: url(../images/icons/mob_menu_bg_plus.png);
    background-repeat: no-repeat;
    background-position: 120px 0;
  }
  /* line 502, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  header .navbar .main-nav .show_on_mobile {
    display: block;
  }
  /* line 514, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  header .navbar .main-nav:after {
    display: none;
  }
  /* line 517, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  header .navbar .main-nav .container {
    background-color: transparent;
  }
  /* line 520, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  header .navbar .main-nav:before {
    position: fixed;
    top: 45px;
    left: 0;
    width: 100%;
    content: "";
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    z-index: 100;
    height: 5px;
  }
}

/* line 534, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .btn_search button {
  width: 83px;
  height: 54px;
  border: none;
  background: #044597;
  box-shadow: none;
}

/* line 540, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .btn_search button:focus {
  outline: none;
}

/* line 545, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .btn_search.show_on_desktop button {
  border-right: solid 2px #F8F9FD;
}

@media (max-width: 992px) {
  /* line 544, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  header .btn_search.show_on_desktop {
    display: none;
  }
}

/* line 553, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .btn_search.show_on_mobile {
  display: none;
}

@media (max-width: 992px) {
  /* line 553, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  header .btn_search.show_on_mobile {
    display: block;
  }
}

/* line 558, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .btn_search.show_on_mobile button {
  width: 50px;
  height: 50px;
}

/* line 561, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .btn_search.show_on_mobile button svg {
  width: 24px;
  height: 24px;
}

/* line 568, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .search_box {
  display: none;
  background: #044597;
  padding: 35px 0;
}

/* line 573, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .search_box .input-group input.form-control {
  height: 60px;
  color: #024594;
  font-size: 1.25rem;
  border-radius: 0px;
  border: none;
}

/* line 579, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .search_box .input-group input.form-control::-webkit-input-placeholder {
  color: #024594;
}

/* line 580, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .search_box .input-group input.form-control:-ms-input-placeholder {
  color: #024594;
}

/* line 581, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .search_box .input-group input.form-control::placeholder {
  color: #024594;
}

/* line 583, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .search_box .input-group .input-group-append {
  position: relative;
  margin: 0;
}

/* line 586, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .search_box .input-group .input-group-append:after {
  position: absolute;
  width: 1px;
  height: 36px;
  content: "";
  background: #0B103F;
  opacity: 20%;
  right: 0;
  top: 12px;
  z-index: 10;
}

/* line 598, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .search_box .input-group .input-group-append:last-child:after {
  display: none;
}

/* line 602, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .search_box .input-group .input-group-append button {
  border-radius: 0px;
  background: #fff;
  border: none;
  outline: none;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: none;
}

/* line 610, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .search_box .input-group .input-group-append button:focus {
  outline: none;
}

/* line 616, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .search_box .search_listing {
  margin-top: 30px;
}

/* line 618, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .search_box .search_listing h2 {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 1.125rem;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 24px;
}

/* line 625, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .search_box .search_listing h2:after {
  position: absolute;
  left: -15px;
  bottom: 0;
  width: 36px;
  height: 2px;
  background: #F68C42;
  content: "";
}

/* line 635, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .search_box .search_listing ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 315px;
}

/* line 641, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .search_box .search_listing ul li {
  margin-right: 5px;
  margin-bottom: 9px;
}

/* line 644, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .search_box .search_listing ul li a {
  min-width: 95px;
  display: inline-block;
  text-align: center;
  border: solid 1px rgba(255, 255, 255, 0.15);
  color: #fff;
  font-size: 0.688rem;
  border-radius: 15px;
  padding: 6px 15px;
  text-decoration: none;
  transition: all .3s;
}

/* line 655, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
header .search_box .search_listing ul li a:hover {
  border-color: #fff;
}

@media (max-width: 992px) {
  /* line 568, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  header .search_box {
    padding-top: 65px;
  }
  /* line 665, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  header .search_box .input-group input.form-control {
    font-size: .875rem;
    height: 43px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  /* line 673, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  header .search_box .input-group .input-group-append button {
    padding-left: 15px;
    padding-right: 15px;
  }
  /* line 676, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  header .search_box .input-group .input-group-append button svg {
    max-width: 17px;
  }
  /* line 680, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  header .search_box .input-group .input-group-append:after {
    top: 10px;
    height: 24px;
  }
  /* line 686, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  header .search_box .search_listing {
    padding-left: 15px;
  }
  /* line 688, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  header .search_box .search_listing ul {
    margin-bottom: 30px;
  }
  /* line 693, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  header .search_box .search_listing .row .col-md-6:last-child ul {
    margin-bottom: 0;
  }
}

/* line 704, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.section-pt {
  padding-top: 60px;
}

@media (max-width: 992px) {
  /* line 704, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  .section-pt {
    padding-top: 40px;
  }
}

/* line 710, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.section-pb {
  padding-bottom: 60px;
}

@media (max-width: 992px) {
  /* line 710, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  .section-pb {
    padding-bottom: 40px;
  }
}

/* line 716, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.section-py {
  padding: 70px 0;
}

@media (max-width: 992px) {
  /* line 716, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  .section-py {
    padding: 40px 0;
  }
}

/* line 721, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.section-py.section-bg {
  background-color: #F8F9FD;
}

/* line 725, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.section-heading {
  font-size: 1.75rem;
}

/* line 727, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.section-heading.btm_bar {
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

/* line 731, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.section-heading.btm_bar:after {
  position: absolute;
  left: -30px;
  bottom: 0;
  width: 46px;
  content: "";
  height: 2px;
  background: #F68C42;
}

@media (max-width: 992px) {
  /* line 731, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  .section-heading.btm_bar:after {
    left: -20px;
  }
}

@media (max-width: 992px) {
  /* line 725, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  .section-heading {
    font-size: 1.375rem;
  }
}

/* line 749, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.custom_select_wrap {
  position: relative;
}

/* line 751, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.custom_select_wrap select {
  width: 100%;
  border: solid 1px #d9d9d9;
  height: auto;
  background: none;
  font-size: 1rem;
  border-radius: 6px;
  -webkit-appearance: none;
  line-height: normal;
}

/* line 761, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.custom_select_wrap:after {
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -8px;
  pointer-events: none;
  border: solid #fff;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  content: "";
}

/* common accordion */
/* line 780, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.common_accordion .card {
  margin-bottom: 17px;
  border: none;
  background-color: transparent;
}

/* line 784, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.common_accordion .card .card-header {
  padding: 0;
  border: none;
  background-color: transparent;
}

/* line 788, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.common_accordion .card .card-header h5 {
  padding: 0;
  margin: 0;
  font-size: 1.25rem;
}

/* line 792, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.common_accordion .card .card-header h5 span {
  font-size: 1rem;
  display: inline-block;
  position: relative;
  padding-left: 7px;
}

/* line 797, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.common_accordion .card .card-header h5 span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 100%;
  background: #024594;
}

@media (max-width: 992px) {
  /* line 792, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  .common_accordion .card .card-header h5 span {
    display: block;
    padding-left: 0;
  }
  /* line 809, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  .common_accordion .card .card-header h5 span::before {
    display: none;
  }
}

/* line 814, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.common_accordion .card .card-header h5 a {
  display: block;
  padding: 20px 30px;
  color: #024594;
  text-decoration: none;
  font-family: "Roboto-Medium", sans-sarif;
  border: solid 1px #f68c42;
  border-radius: 8px 8px 0 0;
  border-bottom: none;
  position: relative;
  transition: all .3s;
  background-color: #fff;
}

/* line 826, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.common_accordion .card .card-header h5 a.collapsed {
  font-family: "Roboto", sans-serif;
  border: solid 1px #d3d5e0;
  border-radius: 8px;
  background-color: transparent;
}

/* line 831, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.common_accordion .card .card-header h5 a.collapsed:after {
  transform: rotate(45deg);
  top: 15px;
}

/* line 836, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.common_accordion .card .card-header h5 a:after {
  position: absolute;
  right: 20px;
  top: 25px;
  width: 20px;
  height: 20px;
  content: "";
  border-bottom: solid 2px #0B103F;
  border-right: solid 2px #0B103F;
  transform: rotate(-135deg);
  transition: all .3s;
}

/* line 851, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.common_accordion .card .card-body {
  padding: 20px 30px;
  border: solid 1px #d3d5e0;
  border-top: none;
  border-radius: 0 0 8px 8px;
  background-color: #fff;
}

@media (max-width: 992px) {
  /* line 851, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  .common_accordion .card .card-body {
    padding: 15px;
  }
}

/* line 862, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.common_accordion .card .collapse.show .card-body {
  border-color: #f68c42;
}

@media (max-width: 992px) {
  /* line 870, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  .common_accordion .card .card-header h5 {
    font-size: 1rem;
  }
  /* line 872, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  .common_accordion .card .card-header h5 span {
    font-size: 0.688rem;
    font-family: "Roboto", sans-serif;
  }
  /* line 876, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  .common_accordion .card .card-header h5 a {
    padding-right: 45px;
  }
  /* line 878, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  .common_accordion .card .card-header h5 a:after {
    width: 12px;
    height: 12px;
  }
  /* line 883, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  .common_accordion .card .card-header h5 a.collapsed:after {
    top: 20px;
  }
}

/* line 896, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.common_accordion.without_border .card .card-header h5 a {
  padding-left: 0;
  border: none;
}

/* line 900, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.common_accordion.without_border .card .card-header h5 a.collapsed {
  border: none;
  border-bottom: solid 1px #024594;
  border-radius: 0px;
}

/* line 908, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.common_accordion.without_border .card .card-body {
  border: none;
  border-radius: 0px;
  border-bottom: solid 1px #F68C42;
  padding-left: 0;
  padding-right: 0;
}

/* line 922, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.common_accordion.accordion_plus_minus .card .card-header h5 a:after {
  border: none;
  content: "\2013";
  transform: rotate(0deg);
  right: 0;
  font-size: 2rem;
  font-family: "Roboto-Light", sans-sarif;
  top: 10px;
}

/* line 932, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.common_accordion.accordion_plus_minus .card .card-header h5 a.collapsed:after {
  content: "+";
}

/* common card box*/
/* line 944, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.common_card {
  padding: 16px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

/* line 951, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.common_card.doctor_card {
  background-color: #fff;
  position: relative;
  margin-bottom: 24px;
}

/* line 955, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.common_card.doctor_card figure {
  position: absolute;
  left: 11px;
  top: 20px;
}

/* line 960, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.common_card.doctor_card .card_content {
  padding-left: 105px;
}

/* line 962, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.common_card.doctor_card .card_content h3 {
  font-size: .875rem;
  text-transform: uppercase;
  color: #0B103F;
  margin-bottom: 20px;
}

/* line 967, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.common_card.doctor_card .card_content h3 span {
  color: #0D1355;
  opacity: 50%;
  font-size: .75rem;
  text-transform: none;
}

/* line 974, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.common_card.doctor_card .card_content .btn {
  font-size: .875rem;
  padding: 10px 20px;
  margin-bottom: 5px;
}

/* line 979, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.common_card.doctor_card .card_content .discount {
  color: #0D1355;
  opacity: 50%;
  font-size: .75rem;
}

@media (max-width: 992px) {
  /* line 986, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  .common_card.doctor_card .card_content {
    padding-left: 95px;
  }
}

/* line 993, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.webrupee {
  font-family: "indian_rupeeregular";
}

/* footer */
/* line 999, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
footer {
  padding: 44px 0 0;
  background: #F9FBFF;
}

/* line 1002, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
footer h6 {
  color: #0B103F;
  margin-bottom: 20px;
  font-family: "Roboto-Medium", sans-sarif;
}

/* line 1006, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
footer h6.other_links_heading {
  margin-bottom: 0;
}

/* line 1010, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
footer ul {
  margin-bottom: 40px;
}

/* line 1013, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
footer a {
  color: #0B103F;
  font-family: "Roboto-Light", sans-sarif;
  font-size: 0.875rem;
}

/* line 1019, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
footer .download_links li {
  display: flex;
}

/* line 1021, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
footer .download_links li:first-child {
  width: 100%;
  display: block;
  font-family: "Roboto-Medium", sans-sarif;
  color: #0B103F;
  margin-bottom: 10px;
}

/* line 1028, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
footer .download_links li a {
  margin-right: 10px;
}

/* line 1030, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
footer .download_links li a:last-child {
  margin: 0;
}

@media (max-width: 992px) {
  /* line 1034, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  footer .download_links li img {
    max-height: 28px;
  }
}

@media (max-width: 575px) {
  /* line 1034, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  footer .download_links li img {
    max-height: 100%;
    height: 44px;
  }
}

/* line 1045, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
footer .follow_links {
  margin-bottom: 0;
}

/* line 1047, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
footer .follow_links li {
  display: flex;
}

/* line 1049, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
footer .follow_links li:first-child {
  width: 100%;
  display: block;
  font-family: "Roboto-Medium", sans-sarif;
  color: #0B103F;
  margin-bottom: 10px;
}

/* line 1056, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
footer .follow_links li a {
  display: inline-block;
  margin-right: 40px;
}

/* line 1059, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
footer .follow_links li a:last-child {
  margin: 0;
}

@media (max-width: 992px) {
  /* line 1056, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  footer .follow_links li a {
    margin-right: 20px;
  }
}

/* line 1065, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
footer .follow_links li a svg {
  transform: scale(0.9);
  transition: all .4s;
}

/* line 1070, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
footer .follow_links li a:hover svg {
  transform: scale(1);
}

/* line 1079, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
footer .alone_links a {
  font-family: "Roboto-Medium", sans-sarif;
  font-size: 1rem;
}

/* line 1085, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
footer .copyright {
  padding: 0px 40px 20px;
  font-family: "Roboto-Light", sans-sarif;
  font-size: .875rem;
  color: #0B103F;
}

/* line 1090, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
footer .copyright hr {
  border-color: #AAA9AD;
  opacity: .4;
}

/* line 1094, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
footer .copyright p {
  margin: 0;
}

@media (max-width: 992px) {
  /* line 1085, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  footer .copyright {
    padding: 0;
  }
}

@media (max-width: 992px) {
  /* line 999, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  footer {
    padding-bottom: 15px;
  }
}

/* line 1106, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
footer .device-drop-footer {
  display: none;
}

/* line 1107, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
footer .device-drop-footer.others {
  display: block;
}

@media (min-width: 768px) {
  /* line 1109, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  .collapse.dont-collapse-md {
    display: block;
    height: auto !important;
    visibility: visible;
  }
}

@media screen and (max-width: 991px) {
  /* line 1116, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  footer .desktop-drop-footer {
    display: none;
  }
  /* line 1119, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  footer .device-drop-footer {
    display: inline-block;
    position: relative;
    padding-right: 20px;
  }
  /* line 1123, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  footer .device-drop-footer:after {
    position: absolute;
    right: 0;
    top: 3px;
    border: none;
    width: 9px;
    height: 9px;
    border-bottom: solid 1px #0B103F;
    border-left: solid 1px #0B103F;
    transform: rotate(-45deg);
    content: "";
  }
}

/* line 1139, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.mob_fixed_footer {
  display: none;
  background: #044597;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

/* line 1147, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.mob_fixed_footer ul {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: center;
}

/* line 1153, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.mob_fixed_footer ul li {
  padding: 8px 10px;
  position: relative;
}

/* line 1156, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.mob_fixed_footer ul li:after {
  content: "";
  position: absolute;
  width: 1px;
  background: rgba(255, 255, 255, 0.23);
  height: 100%;
  top: 0;
  right: 0;
}

/* line 1166, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.mob_fixed_footer ul li:last-child:after {
  display: none;
}

/* line 1170, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.mob_fixed_footer ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 0.438rem;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
}

/* line 1177, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.mob_fixed_footer ul li a span {
  display: inline-block;
  width: 100%;
  margin-top: 6px;
}

@media (max-width: 992px) {
  /* line 1139, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  .mob_fixed_footer {
    display: block;
  }
}

/* line 1191, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.breadcrumbs ul {
  padding: 27px 0 5px 0;
  display: flex;
}

/* line 1194, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.breadcrumbs ul li {
  position: relative;
  color: #0D1355;
  font-size: 0.75rem;
  font-family: "Roboto", sans-serif;
  padding-right: 10px;
  margin-right: 10px;
}

/* line 1200, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.breadcrumbs ul li::after {
  position: absolute;
  border: none;
  content: '';
  right: 0px;
  top: 8px;
  width: 5px;
  height: 5px;
  border-bottom: solid 1px #0D1355;
  border-left: solid 1px #0D1355;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
}

/* line 1216, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.breadcrumbs ul li:last-child {
  padding-right: 0px;
}

/* line 1217, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.breadcrumbs ul li:last-child::after {
  display: none;
}

/* line 1219, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.breadcrumbs ul li a {
  color: #0D1355;
  font-size: 0.75rem;
}

/* line 1223, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.breadcrumbs ul li span {
  color: #0D1355;
  font-size: 0.75rem;
  display: block;
}

/* line 1231, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.breadcrumbs.text-white li, .breadcrumbs.text-white a, .breadcrumbs.text-white span {
  color: #fff;
}

/* line 1235, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.breadcrumbs.text-white li:after {
  border-color: #fff;
}

/* line 1241, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.br-10 {
  border-radius: 10px;
}

/* line 1244, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.br-20 {
  border-radius: 20px;
}

/* line 1247, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.section_bg {
  background-color: #F8F9FD;
}

/* line 1250, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.pt-first-section {
  padding-top: 80px;
}

/* line 1253, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.innerpage {
  position: relative;
  z-index: 0;
}

/* line 1256, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.innerpage .breadcrumbs {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 1;
}

/* line 1263, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.innerpage .section-heading {
  margin-bottom: 30px;
}

/* line 1266, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.innerpage .section-head {
  margin-bottom: 30px;
}

/* line 1268, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.innerpage .section-head .section-heading {
  margin-bottom: 10px;
}

/* line 1271, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.innerpage .section-head p {
  margin-bottom: 0;
}

/* line 1275, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.innerpage .pb-section {
  padding-bottom: 40px;
}

/* line 1279, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.banner_section {
  padding-top: 65px;
  position: relative;
  border-bottom: solid 1px #e6e6e6;
}

/* line 1283, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.banner_section.gradient_bg {
  background: #e5f3ff;
  background: linear-gradient(-235deg, #e5f3ff 0%, #fafdff 40%, white 70%, #e5f3ff 100%);
}

/* line 1287, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.banner_section.pt-15px {
  padding-top: 15px;
}

/* line 1290, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.banner_section .breadcrumbs {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 0;
}

/* line 1298, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.banner_section .Inner_banner_content h2 {
  margin-bottom: 30px;
  font-size: 2rem;
  font-family: "Roboto-Medium", sans-sarif;
}

/* line 1303, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.banner_section .Inner_banner_content .hero_image {
  display: flex;
  background-image: url(../images/hero_image_bg_plus.png);
  background-repeat: no-repeat;
  background-position: 110px bottom;
}

/* line 1310, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.banner_section .Inner_banner_content .banner_content .title_with_image {
  padding-right: 75px;
  position: relative;
  display: inline-block;
  padding-top: 25px;
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  /* line 1310, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  .banner_section .Inner_banner_content .banner_content .title_with_image {
    padding-top: 15px;
    padding-right: 50px;
  }
}

/* line 1320, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.banner_section .Inner_banner_content .banner_content .title_with_image img {
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 992px) {
  /* line 1320, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  .banner_section .Inner_banner_content .banner_content .title_with_image img {
    max-width: 35px;
  }
}

/* line 1329, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.banner_section .Inner_banner_content .banner_content h1 {
  font-size: 2rem;
  font-family: "Roboto-Medium", sans-sarif;
  color: #024594;
}

@media (max-width: 992px) {
  /* line 1329, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  .banner_section .Inner_banner_content .banner_content h1 {
    font-size: 1.25rem;
  }
}

/* line 1338, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.banner_section .Inner_banner_content .banner_content .title {
  margin-bottom: 30px;
}

/* line 1341, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.banner_section .Inner_banner_content .banner_content h3 {
  font-size: 2.5rem;
}

/* line 1344, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.banner_section .Inner_banner_content .banner_content h4 {
  font-size: 1.5rem;
}

/* line 1347, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.banner_section .Inner_banner_content .banner_content h5 {
  font-size: 1.5rem;
  color: #024594;
  margin-bottom: 10px;
}

/* line 1351, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.banner_section .Inner_banner_content .banner_content h5 img {
  margin-right: 10px;
}

/* line 1357, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.banner_section .Inner_banner_content .container.bg-plus {
  background-image: url(../images/icons/hero_content_bg_plus.png);
  background-repeat: no-repeat;
  background-position: top right;
}

/* line 1364, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.banner_section .Inner_banner_content.left_content_top_space .banner_content {
  padding-top: 65px;
}

@media (max-width: 992px) {
  /* line 1370, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  .banner_section .Inner_banner_content {
    background-image: url(../images/hero_image_bg_plus.png);
    background-repeat: no-repeat;
    background-position: 120px 100%;
  }
  /* line 1374, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  .banner_section .Inner_banner_content h2 {
    font-size: 1.25rem;
  }
  /* line 1377, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  .banner_section .Inner_banner_content .hero_image {
    padding-left: 0;
    background-image: none;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
  }
  /* line 1384, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  .banner_section .Inner_banner_content .banner_content {
    background-size: 32px;
    background-position: 100% 45%;
  }
  /* line 1387, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  .banner_section .Inner_banner_content .banner_content h3 {
    font-size: 1.125rem;
  }
  /* line 1390, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  .banner_section .Inner_banner_content .banner_content h4 {
    font-size: 0.656rem;
  }
  /* line 1393, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  .banner_section .Inner_banner_content .banner_content h5 {
    font-size: 0.875rem;
  }
  /* line 1395, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  .banner_section .Inner_banner_content .banner_content h5 img {
    max-width: 11px;
    margin-right: 5px;
  }
  /* line 1400, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  .banner_section .Inner_banner_content .banner_content p {
    font-size: 0.656rem;
  }
}

/* line 1406, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.banner_section .plus_icon {
  position: absolute;
  bottom: 60px;
  left: -15px;
}

@media (max-width: 992px) {
  /* line 1406, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  .banner_section .plus_icon {
    display: none;
  }
}

/* form elements */
/* line 1418, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.white_rounded_box {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.15);
}

/** Custom Select **/
/* line 1425, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.custom-select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
  width: 100%;
}

/* line 1431, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.custom-select-wrapper select {
  display: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}

/* line 1440, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.custom-select {
  position: relative;
  display: inline-block;
}

/* line 1445, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.custom-select-trigger {
  position: relative;
  display: block;
  width: 100%;
  padding: 10px 15px 0 0;
  font-size: 1rem;
  color: #024594;
  background: #fff;
  cursor: pointer;
}

/* line 1455, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.custom-select-trigger:after {
  position: absolute;
  display: block;
  content: '';
  width: 8px;
  height: 8px;
  top: 50%;
  right: 0;
  margin-top: 3px;
  border-bottom: 1px solid #F58B41;
  border-right: 1px solid #F58B41;
  transform: rotate(45deg) translateY(-50%);
  transition: all .4s ease-in-out;
  transform-origin: 50% 0;
}

/* line 1472, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.custom-select.opened .custom-select-trigger:after {
  margin-top: 3px;
  transform: rotate(-135deg) translateY(-50%);
}

/* line 1477, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  min-width: 100%;
  border: 1px solid #b5b5b5;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.07);
  background: #fff;
  transition: all .4s ease-in-out;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-15px);
  z-index: 100;
}

/* line 1497, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.custom-select.opened .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0);
}

/* line 1504, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.option-hover:before {
  background: #f9f9f9;
}

/* line 1508, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.custom-option {
  position: relative;
  display: block;
  padding: 6px 10px;
  border-bottom: 1px solid #b5b5b5;
  font-size: 1rem;
  color: #024594;
  cursor: pointer;
  transition: all .4s ease-in-out;
}

/* line 1518, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.custom-option:first-of-type {
  border-radius: 4px 4px 0 0;
}

/* line 1522, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.custom-option:last-of-type {
  border-bottom: 0;
  border-radius: 0 0 4px 4px;
}

/* line 1527, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.custom-option:hover, .custom-option.selection {
  background: #f9f9f9;
}

@media (max-width: 992px) {
  /* line 1508, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  .custom-option {
    font-size: .75rem;
  }
}

/* custom radio checkbox */
/* line 1536, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.custom {
  margin-bottom: 16px;
}

/* line 1540, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.radio-group .radio-main-label {
  font-size: 0.688rem;
  color: #151A47;
  margin-top: 7px;
}

/* line 1547, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.radio-group .custom-radio input[type="radio"] {
  display: none;
}

/* line 1551, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.radio-group .custom-radio label {
  cursor: pointer;
  position: relative;
  font-size: 1rem;
  color: #044597;
  padding-left: 5px;
}

/* line 1559, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.radio-group .custom-radio label::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 1px solid #F58B41;
  border-radius: 50%;
  top: 12px;
  left: -15px;
  transform: translateY(-50%);
  transition: border-color 400ms ease;
}

/* line 1573, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.radio-group .custom-radio label::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #F58B41;
  border: 2px solid #F58B41;
  border-radius: 50%;
  top: 12px;
  left: -15px;
  transform: translateY(-50%) scale(0);
  transition: transform 400ms ease;
}

/* line 1587, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.radio-group .custom-radio input[type="radio"]:checked + label::before {
  border-color: #F68C42;
}

/* line 1591, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.radio-group .custom-radio input[type="radio"]:checked + label::after {
  transform: translateY(-50%) scale(0.55);
}

/* line 1598, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.checkbox-group .custom-checkbox {
  margin-bottom: 10px;
}

/* line 1601, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.checkbox-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

/* line 1610, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.checkbox-group label {
  position: relative;
  cursor: pointer;
  padding-left: 30px;
  margin: 0;
  font-size: 0.625rem;
  color: #0D1355;
}

/* line 1617, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.checkbox-group label a {
  color: #F68C42;
  text-decoration: underline;
}

/* line 1622, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.checkbox-group label:before {
  content: '';
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid rgba(112, 112, 112, 0.3);
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
  position: absolute;
  left: 0;
  top: -2px;
}

/* line 1639, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.checkbox-group input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 1px;
  left: 7px;
  width: 6px;
  height: 12px;
  border: solid #F68C42;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* line 1652, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.mandatory {
  color: #F68C42;
}

/* common tabs */
/* line 1657, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.gallery-tabs {
  border: none;
  margin-bottom: 40px;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 10px 0;
  margin: 0 -15px;
}

/* line 1665, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.gallery-tabs .nav-item {
  padding: 0 15px;
}

/* line 1668, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.gallery-tabs .nav-link {
  border: none;
  border-radius: 28px;
  padding: 16px 50px;
  color: #024594;
  position: relative;
  transition: all .3s;
  white-space: nowrap;
}

/* line 1676, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.gallery-tabs .nav-link:after {
  transition: all .3s;
  content: "";
  width: 0px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -26px;
  height: 2px;
  content: "";
  background-color: #F68C42;
}

/* line 1689, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.gallery-tabs .nav-link:hover:after, .gallery-tabs .nav-link.active:after {
  width: 52px;
}

/* line 1693, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.gallery-tabs .nav-link.active {
  color: #024594;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

@media (max-width: 992px) {
  /* line 1668, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  .gallery-tabs .nav-link {
    padding: 10px 15px;
    font-size: .875rem;
  }
}

@media (max-width: 992px) {
  /* line 1657, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  .gallery-tabs {
    padding: 10px;
  }
}

/* line 1707, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.slick-dots {
  left: 0;
}

/* line 1710, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.slick-dots li button:before {
  font-size: 40px;
  color: transparent;
  border: solid 1px #024594;
  border-radius: 50%;
  background-color: transparent;
  opacity: 1;
  width: 13px;
  height: 13px;
  line-height: 13px;
}

/* line 1722, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.slick-dots li.slick-active button:before {
  color: #F68C42;
  background-color: #F68C42;
  border-color: #F68C42;
}

/* line 1731, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.badge {
  font-size: .625rem;
  line-height: 1.6;
  display: inline-block;
  padding: 4px 15px;
  border-radius: 14px;
  border: none;
  background-color: #024594;
  color: #fff;
  text-transform: uppercase;
}

/* line 1741, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.badge.white {
  background-color: #fff;
  color: #024594;
  border: solid 1px #d3d3d3;
}

/* line 1746, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.badge.orange {
  background-color: #F68C42;
  color: #fff;
}

/* line 1750, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.badge img {
  max-width: 11px;
  border-radius: 0px !important;
  margin-right: 4px;
  display: inline-block;
}

/* line 1757, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.back-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  flex-direction: column;
  text-align: center;
  display: none;
  cursor: pointer;
}

/* line 1766, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.back-to-top.show {
  display: flex;
}

/* line 1769, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.back-to-top .icon {
  width: 44px;
  height: 44px;
  display: inline-block;
  border-radius: 50%;
  background: #024594;
}

/* line 1775, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.back-to-top .icon:after {
  position: absolute;
  width: 15px;
  height: 15px;
  content: "";
  border-top: solid 3px #fff;
  border-right: solid 3px #fff;
  transform: rotate(-45deg);
  top: 18px;
  left: 15px;
}

/* line 1787, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
.back-to-top .text {
  font-size: .5rem;
  color: #0B103F;
  text-transform: uppercase;
  margin-top: 4px;
}

@media (max-width: 992px) {
  /* line 1757, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  .back-to-top {
    bottom: 57px;
    right: 0;
  }
  /* line 1796, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  .back-to-top .icon {
    width: 58px;
    height: 60px;
    border-radius: 0px;
  }
  /* line 1800, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  .back-to-top .icon:after {
    width: 12px;
    height: 12px;
    left: 24px;
    top: 15px;
  }
  /* line 1806, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  .back-to-top .icon:before {
    position: absolute;
    content: "";
    width: 3px;
    height: 20px;
    background: #fff;
    left: 29px;
    top: 16px;
  }
  /* line 1816, /Users/bhakumar6/Desktop/bhagesh-projects/hinduja/html-hinduja/assets/css/scss/common.scss */
  .back-to-top .text {
    display: none;
  }
}

/*# sourceMappingURL=../common.map */